{% extends "base.html" %}

{% block body %}

    <h1>Login</h1>

    <ul>
        {% for err in error %}
            <li>{{ err }}</li>
        {% endfor %}
    </ul>

    <form method="post">
        Email:<br>
        <input type="text" name="username" value="{{ data.username }}">
        <br><br>
        Password:<br>
        <input type="password" name="password" value="{{ data.password }}">
        <br><br>
        <input type="submit" name="submit" value="Zaloguj">
    </form> 
{% endblock %}