{% extends "base.html" %}

{% block body %}

<h1>Panel admin</h1>
<a href="/login"> back to login</a>
<a href="/logout"> logout</a>

<h1>Links</h1>


<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">link</th>
        <th scope="col">name</th>
        <th scope="col">tag</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
    {% for item in showLinks %}
      <tr>
        <th scope="row">{{ item.id }}</th>
        <td><a href="{{ item.link }}" target="_blank">{{ item.link }}</a></td>
        <td>{{ item.name }}</td>
        <td>{{ item.tag }}</td>
        <td>
            <button>kopiuj do schowka</button>
            <a href="/panel/delete/{{ item.id }}" target="_blank">Del</a>
            <a href="/panel/edit/{{ item.id }}" target="_blank">Edit</a>
        </td>
      </tr>
    {% endfor %}
    <tr>
      <td colspan="5">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Add link
            </button>
      </td>
  </tr>
    </tbody>
  </table>

  {% include './components/modal.html' %}

{% endblock %}

