{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
    <h1>Register</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium similique ratione consequuntur fugiat earum adipisci quasi nulla, ea doloribus totam repellendus harum velit enim sint unde. Officia deserunt modi perferendis!</p>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            <ul class="text-danger">
                {% for err in error %}
                    <li>{{ err }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="post" action="/register">
        <div class="row">
            <div class="form-group col-xs-5 col-lg-4">
                <label for="InputName">Name</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="InputName"
                    name="username" 
                    value="{{ data.username }}"
                >
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-5 col-lg-4">
                <label for="InputEmail">Email</label>
                <input 
                    type="email" 
                    class="form-control" 
                    id="InputEmail" 
                    name="email"
                    value="{{ data.email }}"
                >
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-5 col-lg-4">
                <label for="InputPassword">Password</label>
                <input 
                    type="password" 
                    class="form-control" 
                    id="InputPassword"
                    name="password"
                    value="{{ data.password }}" 
                >
            </div>
        </div>
        <button 
            type="submit" 
            class="btn btn-primary"
            name="submit"
        >Submit</button>
    </form>
</div>
{% endblock %}