{% extends "base.html" %}

{% block body %}

    <h1>Register</h1>

    <ul>
        {% for err in error %}
            <li>{{ err }}</li>
        {% endfor %}
    </ul>

    <form method="post" action="/register">
        Name:<br>
        <input type="text" name="username" value="{{ data.username }}" >
        <br>
        Email:<br>
        <input type="email" name="email" value="{{ data.email }}">
        <br><br>
        Password:<br>
        <input type="password" name="password" value="{{ data.password }}">
        <br><br>
        <input type="submit" name="submit">
    </form> 
{% endblock %}